<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El-Toro Resto</title>
  </head>
  
  <body>
    <!-- Skip Content -->
    <a href="#main-content" class="skip-link">Skip to Content </a>
    
    <!-- Header dan Navbar -->
    <header class="header">
      <nav  class="navbar">
        <a  class="nav-logo">El-Toro Resto</a>
        <div class="hamburger">
        <button>
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        </div>
        <ul class="nav-menu">
          <li class="nav-item"><a class="link-nav" href="/">Home</a></li>
          <li class="nav-item"><a class="link-nav" href="#">Favorite</a></li>
          <li class="nav-item"><a class="link-nav" href="https://www.instagram.com/trizkianggara/">About Us</a></li>
        </ul>
      </nav>
    </header>

    <!-- Main Content -->
    <main id="main-content">
      <div class="jumbotron">
        <div class="jumbotron-inner">
          <h1 class="jumbotron-title">El-Toro Resto</h1>
          <p class="jumbotron-desc">Food: the language everyone understands 🍽️🌍</p>
        </div>
      </div>

      <section class="content">
        <div class="restoran">
          <h1>Cari Restoran</h1>
          <br>
          <div class="list" id="daftar-resto"></div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <p>Copyright 2024 - El-Toro Resto</p>
    </footer>
    
  </body>
</html>
